/.bash_history
/.bash_logout
/.bashrc
/.cache
/.gitconfig
/.profile
/.ssh
/.sudo_as_admin_successful
/.viminfo
/.vscode
/.vscode-server
/.wget-hsts
/192.168.56.252
/blackbox_exporter-0.18.0.linux-amd64
/blackbox_exporter-0.18.0.linux-amd64.tar.gz
/prometheus-2.26.0.linux-amd64
/prometheus-2.26.0.linux-amd64.tar.gz
/terraform_1.0.5_linux_amd64.zip